html {
    margin: 0;
    padding: 0;
    
    font: normal 100%/1.4 'Courier New', monospace, serif;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation > li {
  display: inline-block;
  color: #C5D0D4
}
.current {
    background-color: #5A808C;
    color: #FFFFFF;
}
.nav-top {
  background-color: #415F69;
  padding: 5px;
  margin-top: 1px;
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
}